legend {
  border: 0;
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-inline-size: 0;
}

/* https://github.com/radix-ui/primitives/issues/2722 */
[data-radix-scroll-area-viewport] > div {
  width: 100%;
}
