name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

jobs:
  build:
    name: unit
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: web

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "24.10.0"
          cache: npm
          cache-dependency-path: "web/package-lock.json"

      - name: Install dependencies
        run: npm ci

      - name: Test
        run: npm run test

      - name: Lint
        run: npm run lint

      - name: Format
        run: npm run format
